# Cloudflare R2 配置
R2_ACCESS_KEY_ID=a9b860ddc25d5eb971f4f67b8313c5d3
R2_SECRET_ACCESS_KEY=d88f3ee57a534879866eb61ecfdeff13dd27adb738b748ed8001372668df111b
R2_BUCKET_NAME=my-img
R2_REGION=auto
R2_ENDPOINT_URL=https://3eb515cae1c2eee9d639d654a859e3d2.r2.cloudflarestorage.com
R2_CUSTOM_DOMAIN=https://img.lenband.com

# Flask 配置
FLASK_ENV=production
DEBUG=False
SECRET_KEY=your-secret-key-change-in-production

# 服务器配置
HOST=0.0.0.0
PORT=5000
